---
layout: 'base.html'
description: "Hand coded web design and development for small business"
meta-title: 'BluePixel.dev | Web Design and Development | About'
tagTitle: 'BluePixel.dev | Custom Web Design | Cleveland, Ohio'
permalink: 'about/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->


<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About BluePixel.dev</h2>
            <p class="cs-text">
				My name's Mike, I'm the owner and developer at BluePixel.dev, and I've been a contract web developer for large corporations for the last 15 years. In that time I've noticed that it's become even harder for small businesses to get well built, beautifully designed websites at a reasonable rate, so I decided to change that. I can do this thanks to a team of extremely talented freelancers, efficient coding/templating systems to build great websites faster, and using AI and Machine Learning technology to help me work more efficiently.  </p>
				<p><strong>- Mike Neal, Owner </strong></p>

            <a href="/contact/" class="button-solid">Contact Us</a>
        </div>
    </div>
</section>

<section id="cta">
    <div class="container">
        <h2 class="title">Intereseted in <br> Hearing More?</h2>
        <p>
            Reach out to us by phone or email, we're always ready to help.
        </p>
        <a href="/contact" class="button-solid">Contact Us Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/code-bg.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/code-bg.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/code-bg.jpg" alt="Javascript code on a screen " width="1920" height="1280">
        </picture>
</section>
