---
layout: 'base.html'
canonical: 'Official link for that page (https://bluepixel.dev)'
description: 'Hand coded web design and development for small business'
metaTitle: 'BluePixel.dev | Web Design and Development'
tagTitle: 'BluePixel.dev | Custom Web Design | Cleveland, Ohio'
permalink: '/'
---

<!-- 
This is to pre load any image above the fold, like hero section backgrounds.
If you do not have any images in your hero section that you need to preload, remove this 
block
-->

{% block preload %}
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/critical.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container gradient">
        <div class="cs-flex-group">
            <h1 class="cs-title">Fast. Affordable. Hand-built.</h1>
            <p class="cs-text">
                We're making well built, beautifully designed websites affordable for small businesses.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>

    <!-- Background Image
    <picture class="cs-picture" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.webp">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="mountains" width="2250" height="1500">
    </picture> -->
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service1.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Affordable Websites</h2>
        <p>
			Starting at just $0 down/$150 a month*, we're focussed on helping small businesses get into their first hand-coded website.
		</p>
		<p class="smallprint">*for a 5 page site with minimum 6 month commitment</p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service2.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Mobile First Design</h2>
        <p>
            54% of web traffic is from mobile devices, that's why we start development with mobile devices phones as first-class citizens.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service3.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Cloud Hosting Included</h2>
        <p>
			We use a modern, cloud-based hosting partner to provide our clients with an extremely fast and robust website.
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--                 Performance                  -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/performance.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/performance.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/performance.jpg" alt="house" width="414" height="400">
            </picture>
        </div>

        <!-- Right Content Section-->
        <div class="cs-right">

            <h2 class="cs-title">Incredibly fast websites.</h2>
            <p class="cs-text">
				When you have 3 seconds to grab a visitor's attention, you don't want to spend half that time loading the page. That's why our sites are fast! We hand-code our sites to get every ounce of performance we can out of them. We target 95/100 or better on all scores on Google's Pagespeed Insights to help with SEO and user retention. Test your current site <a href="https://pagespeed.web.dev/">here</a> to see how we stack up.
            </p>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--               Custom Developed               -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
			<span class="cs-topper">Quality</span>
            <h2 class="cs-title">Hand Developed</h2>
            <p class="cs-text">
				A custom coded websites can be more efficient and faster than those built with a pagebuilder. This helps improve the user experience and make the website more effective at converting visitors into customers. Custom coded websites are also often more secure than those built with a pagebuilder, as every line of code is placed with purpose, rather than the thousands of lines of unneeded code that pagebuilders spit out. Overall, a custom coded website offers small businesses a more professional, customizable, efficient, and secure online presence. As a bonus, you don't have to worry about logging in and trying to make your own content changes. Just shoot us an email or give us a call and we'll swap out any images or change any copy you want. All of this is included with your monthly fees, so you can worry about your business, and let us worry about your website.
			</p>

            <a href="/about" class="button-solid">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Intereseted in <br> Hearing More?</h2>
        <p>
            Reach out to us by phone or email, we're always ready to help.
        </p>
        <a href="/contact" class="button-solid">Contact Us Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="assets/images/code-bg.jpg">
        <source media="(min-width: 601px)" srcset="assets/images/code-bg.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/code-bg.jpg" alt="Javascript code on a screen " width="1920" height="1280">
        </picture>
</section>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>